*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', serif;
}

body{
    overflow-x:hidden;
}

/* TOP TEXT */
.top-text{
    text-align:center;
    padding:12px;
    letter-spacing:4px;
    font-size:14px;
    background:white;
}

/* WRAPPER */
.wrapper{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

/* BACKGROUND */
.bg-image{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-3;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.7);
    z-index:-2;
}

/* CENTER TITLE */
.center-content{
    text-align:center;
    margin-top:80px;
}

.logo{
    width:160px;
}

.center-content h1{
    margin-top:20px;
    font-size:38px;
    color:#1c2d86;
    letter-spacing:3px;
}

/* BLUE CURVED */
.blue-section{
    position:absolute;
    bottom:0;
    width:100%;
    height:45%;
    background:linear-gradient(135deg,#3d3dbb,#2b2ba0);
    border-top-left-radius:100% 80px;
    border-top-right-radius:100% 80px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* BUTTONS */
.buttons{
    text-align:center;
}

.button{
    display:block;
    margin:15px auto;
    padding:12px 50px;
    border-radius:30px;
    border:2px solid white;
    background:transparent;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

.button:hover{
    background:white;
    color:#2b2ba0;
}

/* FORM OVERLAY */
.form-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    justify-content:center;
    align-items:center;
}

.form-box{
    background: rgba(255, 255, 255, 0.25); 
    backdrop-filter: blur(12px);          
    -webkit-backdrop-filter: blur(12px);  
    width: 350px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    text-align: center;
}

.form-box h2{
    margin-bottom:15px;
    color:#2b2ba0;
    
}

.form-box input,
.form-box select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:5px;
    background: rgba(255,255,255,0.85);
    border: none;
    color: #000;
}

.form-box input[type="submit"]{
    background:#2b2ba0;
    color:white;
    border:none;
    cursor:pointer;
}

.form-box input[type="submit"]:hover{
    background: white;
    color: blue;
    transition: 0.3 ease;
}

.back-btn{
    margin-top:10px;
    padding:6px 15px;
    background:#ccc;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.back-btn:hover{
    background: white;
    color: blue;
    transition: 0.3 ease;
}

/* RESPONSIVE */
@media(max-width:768px){

    .center-content h1{
        font-size:22px;
    }

    .logo{
        width:100px;
    }

    .form-box{
        width:90%;
    }
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 25px;             
  width: 100%;
  padding: 0 40px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-content p {
  font-size: 11px;
  margin: 4px 0;
  line-height: 1.4;
}

.footer-content {
  font-size: 11px;
  margin: 4px 0;
  line-height: 1.4;
}


.footer-left {
  text-align: left;
  max-width: 55%;
}

.footer-right {
  text-align: right;
  max-width: 40%;
}

.footer-left a.link {
    display: block;      
    color: white;       
    text-decoration: none; 
    font-size: 11px;
    margin: 4px 0;
    line-height: 1.4;
}

.footer-left a.link:hover {
    text-decoration: underline;
}




/* RESPONSIVE FOOTER */
@media (max-width: 600px) {
  .footer {
    position: absolute;
    bottom: 15px;
    padding: 0 15px;
  }

  .footer-content {
    flex-direction: row;        
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer-left {
    text-align: left;
    max-width: 60%;
  }

  .footer-right {
    text-align: right;
    max-width: 35%;
  }

  .footer-content p{
    font-size: 9px;              
    line-height: 1.3;
  }
    .footer-content a.link {
    font-size: 9px;              
    line-height: 1.3;
  }
}

